html {
    background: lightgray;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #aa80f3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

h2 {
    color: blueviolet;
}

footer {
    background-color: #aa80f3;
    color: #fff;
    padding: 20px;
    text-align: center;
}
